{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Gwala | Producer</title>
    <style>
        select {
            border-right: 12px solid transparent; /* fixed dropdown right arrow padding */
            border-radius: 8px;
            border-left: 8px solid transparent;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="grid items-center h-screen">
        <div class="p-4 md:p-8 rounded-xl text-sm">
            <form action="" class="block md:flex w-[100%] bg-blue-100 items-center rounded-xl p-8" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="hidden w-1/2 md:block">
                    <img alt="Milking man" src="{% static 'images/milking-man.webp' %}">
                </div>

                <div class="md:w-1/2 bg-gray-50 p-8 rounded-xl">
                    {% if request.GET.next_form %}
                        <h1 class="underline font-medium underline-offset-4">थप जानकारी</h1>

                        <div class="flex gap-4 mt-8">
                            <label>दुधको श्रोत</label>
                            {{ form.milk_source }}
                        </div>

                        <div class="mt-8">
                            <label class="block">कति लिटर दुध {% if trade_type == 'buy' %} kinanन {% else %} किन्न {% endif %} चाहानुहुन्छ?</label>

                            <div class="mt-2">
                                <input name="litre_to_sell" aria-label="Litres" type="number" placeholder="जस्तै: ५"
                                       class="w-full block mx-auto px-2 py-2 rounded"
                                        {% if form.litre_to_sell.value %}
                                       value="{{ form.litre_to_sell.value }}"
                                        {% endif %}
                                       required>

                                {% if form.errors.litre_to_sell %}
                                    <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.litre_to_sell }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mt-8">
                            <label class="block">दर प्रति लिटर (रू)</label>
                            <input name="rate_per_litre" aria-label="Rate" type="number" placeholder="जस्तै: ८५"
                                   class="w-full mt-2 block mx-auto px-2 py-2 rounded"
                                    {% if form.rate_per_litre.value %}
                                   value="{{ form.rate_per_litre.value }}"
                                    {% endif %}
                                   required>

                            {% if form.errors.rate_per_litre %}
                                <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.rate_per_litre }}</span>
                            {% endif %}
                        </div>

                        <div class="text-right mt-8">
                            <a href="{{ request.path }}" class="inline-block text-blue-600">पछिल्लो</a>
                            <button type="submit" class="ml-4 bg-blue-500 px-4 py-2 text-gray-100 rounded-xl">स्वीकार
                            </button>
                        </div>
                    {% else %}
                        <h1 class="font-medium mb-4">
                            {% if form.first_name.value %}
                                कृपया फर्म भर्नुहाेस्
                            {% else %}
                                कृपया फर्म भर्नुहोस्
                            {% endif %}
                        </h1>

                        <div class="flex gap-4">
                            <div class="w-1/2 mb-4">
                                <input name="first_name" aria-label="नाम" type="text" placeholder="नाम"
                                       class="block w-full mb-2 mx-auto px-2 py-2 rounded"
                                        {% if form.first_name.value %}
                                       value="{{ form.first_name.value }}"
                                        {% endif %} required>

                                {% if form.errors.first_name %}
                                    <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.first_name }}</span>
                                {% endif %}
                            </div>

                            <div class="w-1/2">
                                <input name="last_name" aria-label="lastName" type="text" placeholder="थर"
                                       class="block w-full mb-2 mx-auto px-2 py-2 rounded"
                                        {% if form.last_name.value %}
                                       value="{{ form.last_name.value }}"
                                        {% endif %}
                                       required>

                                {% if form.errors.last_name %}
                                    <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.last_name }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-4">
                            <input name="contact_number" aria-label="सम्पर्क नम्बर"
                                   type="number"
                                   maxlength="10"
                                   placeholder="सम्पर्क नम्बर"
                                   class="block mb-2 mt-2 w-full mx-auto px-2 py-2 rounded"
                                    {% if form.contact_number.value %}
                                   value="{{ form.contact_number.value }}"
                                    {% endif %}
                                   required>
                            {% if form.errors.contact_number %}
                                <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.contact_number }}</span>
                            {% endif %}
                        </div>

                        <span class="text-slate-500 block mt-8">ठेगाना</span>

                        <div class="mb-4 flex flex-wrap gap-x-6">
                            <div class="my-2">
                                <select name="district" aria-label="district" id="district" required
                                        class="bg-white px-3 py-2 rounded-2xl {% if form.errors.district %}outline outline-1 outline-red-500{% endif %}"
                                        onchange="districtChanged()">
                                </select>
                            </div>
                            <div class="my-2">
                                <select name="local_body" aria-label="localBody" id="localBody" required
                                        class="bg-white px-3 py-2 rounded-2xl {% if form.errors.local_body %}outline outline-1 outline-red-500{% endif %}"
                                        onchange="localBodyChanged()">
                                </select>
                            </div>
                            <div class="my-2">
                                <select name="ward" aria-label="ward" id="ward" required
                                        class="bg-white px-3 py-2 rounded-2xl {% if form.errors.ward %}outline outline-1 outline-red-500{% endif %}"
                                        onchange="">
                                </select>
                            </div>
                        </div>

                        <div class="mb-8">
                            <input name="google_map_location" aria-label="googleMapLocation" type="text"
                                   placeholder="गुगल म्यापको ठेगाना"
                                   class="block w-full mx-auto px-2 py-2 rounded"
                                    {% if form.google_map_location.value %}
                                   value="{{ form.google_map_location.value }}"
                                    {% endif %}>
                            {% if form.errors.google_map_location %}
                                <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.google_map_location }}</span>
                            {% endif %}
                        </div>

                        <div>
                            <label>घरको तस्बिर</label>
                            <input type="file" accept="image/*" name="house_photo" id="housePhoto"
                                   aria-label="घरको तस्बिर"
                                   class="hidden"
                                   onchange="document.querySelector('#housePhotoBtn').innerHTML='Uploaded'; document.querySelector('#uploadedLink').style.display='none'">
                            <button id="housePhotoBtn" type="button"
                                    onclick="document.querySelector('#housePhoto').click()"
                                    class="ml-4 border border-dashed border-green-600 px-3 py-1 rounded-xl mb-3">अपलोड
                            </button>

                            {% if form.house_photo.value %}
                                <a id="uploadedLink" class="ml-4 text-blue-500"
                                   href="{{ form.instance.house_photo.url }}">See uploaded</a>
                            {% endif %}

                            {% if form.errors.house_photo %}
                                <span class="block mt-1 text-[12px] text-red-500">{{ form.errors.house_photo }}</span>
                            {% endif %}
                        </div>

                        <div class="text-right">
                            <a href="../" class="inline-block text-blue-600">पछिल्लो</a>
                            <button type="submit" class="ml-4 bg-blue-500 px-4 py-2 text-gray-100 rounded-xl">अर्को
                            </button>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <script>
        let availableAddresses = {{ addresses|safe }};
        const districts = availableAddresses['districts'];
        let localBodies = [];
        let wards = [];

        const districtSelect = document.querySelector("#district");
        const localBodySelect = document.querySelector("#localBody");
        const wardSelect = document.querySelector("#ward");

        /**
         * Adds options to the select tag
         * @param selectElement selectTag
         * @param items Option items
         * @param label_field field name to show value in list
         * @param default_label eg: District
         */
        function addOptions(selectElement, items, label_field, default_label) {
            // Construct html
            let html = `<option>${default_label}</option>\n`;
            items.forEach(item => {
                html += `<option value="${item['id']}">${item[label_field]}</select>\n`;
            })

            // Replace inner html of current tag
            selectElement.innerHTML = html;
        }

        function getItemById(items, id) {
            for (let i = 0; i < items.length; i++) {
                const item = items[i];
                if (item['id'] === id) {
                    return item;
                }
            }

            return null;
        }

        function districtChanged() {
            // Check if the selected value is valid id number in string format
            if (isNaN(districtSelect.value)) {
                // Clear local bodies array when none is selected
                localBodies = [];
            } else {
                const selectedDistrict = getItemById(districts, parseInt(districtSelect.value));
                if (selectedDistrict) {
                    localBodies = selectedDistrict['local_bodies'];
                }
            }

            refreshLocalBodies();
        }


        function localBodyChanged() {
            // Make sure selected value is id number
            if (isNaN(localBodySelect.value)) {
                // Clear wards array when none is selected
                wards = []
            } else {
                const localBody = getItemById(localBodies, parseInt(localBodySelect.value))
                if (localBody) {
                    wards = localBody['wards']
                }
            }

            refreshWards();
        }


        function refreshLocalBodies() {
            addOptions(localBodySelect, localBodies, 'name', 'पालिका');
            refreshWards();
        }

        function refreshWards() {
            addOptions(wardSelect, wards, 'number', 'वडा');
        }

        addOptions(districtSelect, availableAddresses['districts'], 'name', 'जिल्ला');
        refreshLocalBodies();
        refreshWards();

        {% if form.district.value %}
            districtSelect.value = "{{ form.district.value }}";
            districtChanged();
        {% endif %}

        {% if form.local_body.value %}
            localBodySelect.value = "{{ form.local_body.value }}";
            localBodyChanged();
        {% endif %}

        {% if form.ward.value %}
            wardSelect.value = "{{ form.ward.value }}";
        {% endif %}
    </script>
{% endblock %}
