{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Gwala | Producer</title>
{% endblock %}

{% block content %}
    <div class="grid items-center justify-center h-screen">
        <div class="p-4 rounded-xl text-sm">
            <form action="" class="min-w-[360px] flex bg-blue-100 items-center rounded-xl p-8">
                <div class="w-1/2">
                    <img src="{% static 'images/milking-man.webp' %}">
                </div>
                <div class="w-1/2 bg-gray-50 p-8 rounded-xl">
                    <h1 class="font-medium mb-4">Fill the form</h1>
                    <div class="flex gap-4">
                        <input type="text" placeholder="First Name" class="block mb-4 w-1/2 mx-auto px-2 py-2 rounded">
                        <input type="text" placeholder="Last Name" class="block mb-4 w-1/2 mx-auto px-2 py-2 rounded">
                    </div>
                    <input type="text" placeholder="Contact number"
                           class="block mb-4 mt-2 w-full mx-auto px-2 py-2 rounded">
                    {#                    <input type="text" placeholder="Address" class="block mb-4 my-2 w-full mx-auto px-2 py-2 rounded">#}
                    <span class="text-slate-500">Address</span>
                    <div class="mb-4 flex gap-6">
                        <div class="my-2 w-1/3 mx-auto px-2 py-2 rounded">
                            {#                            <label for="address" class="mr-6 block">District</label>#}
                            <select id="address" class="bg-white px-3 py-2 rounded-2xl">
                                <option value="">District</option>
                                <option>Jhapa</option>
                            </select>
                        </div>
                        <div class="my-2 w-1/3 mx-auto px-2 py-2 rounded">
                            {#                            <label for="address" class="mr-6 block">District</label>#}
                            <select id="address" class="bg-white px-3 py-2 rounded-2xl">
                                <option value="">Local Body</option>
                                <option>Jhapa</option>
                            </select>
                        </div>
                        <div class="my-2 w-1/3 mx-auto px-2 py-2 rounded">
                            {#                            <label for="address" class="mr-6 block">District</label>#}
                            <select id="address" class="bg-white px-3 py-2 rounded-2xl">
                                <option value="">Ward No:</option>
                                <option>Jhapa</option>
                            </select>
                        </div>

                    </div>
                    <input type="text" placeholder="Google Maps Location URL"
                           class="block mb-4 w-full mx-auto px-2 py-2 rounded">
                    <label>House Image</label>
                    <button class="border border-dashed border-green-600 px-3 py-1 rounded-xl mb-3" >Upload</button>

                    <button type="submit" class="block m bg-blue-500 px-4 py-2 text-gray-100 rounded-xl">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}